body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
h1 {
    text-align: center;
    color: blue;
}

  input[type="number"] {
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
  }

  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  #results {
    margin: 20px auto;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    font-size: 16px;
    color: black;
  }